<div class="row my-3 justify-content-center">
  <div class="col-3">
    <a href="http://www.rkcosner.com/research/4-ICRA-GenerativeModeling/" class="d-block h-100">
      <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/cvae_drone.gif" alt="CVAE Drone" />
    </a>
  </div>
  <div class="col-4">
    <a href="https://alberthli.github.io/frogger" class="d-block h-100">
      <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/pong.gif" alt="Pong" />
    </a>
  </div>
  <div class="col-4">
    <a href="https://mikh3x4.github.io/nerf-navigation/" class="d-block h-100">
      <img class="img-fluid w-100 h-100 object-fit-cover" src="assets/img/nerf-navigation.gif" alt="Nerf Navigation" />
    </a>
  </div>
</div>
<hr />
{% assign highlights_sorted = site.highlights | sort: "date" | reverse %}
{% for highlight in highlights_sorted %}
    <div class="row">
        <p><span class="pe-1">{{highlight.emoji}}</span> <b>{{ highlight.date | date: "%B %Y"}}:</b> {{highlight.content | remove: "<p>" | remove: "</p>"}}</p>
    </div>
{% endfor %}