<div class="row justify-content-center py-2" id="working-with-us">
  <div class="col-12">
    
     <h4>Prospective PhD students</h4>
    <p>
      If you’d like to do a PhD in my lab, the best path is to apply through the
      <a href="https://www.cs.cornell.edu/phd/admissions">Cornell CS PhD program</a>
      or the
      <a href="https://robotics.cornell.edu/graduate/">Cornell Robotics PhD program</a>.
      Please mention my name and specific research overlap in your application.
    </p>
    <p>
      I get many inquiries and unfortunately can’t respond individually before the admissions process. You can read more about my group’s research
      <a data-target="publications" class="content-button">here</a>.
    </p>

	<hr class="my-4">

     <h4>Cornell undergraduates and master’s students</h4>
    <p>If you’re interested in research with our lab, please send me an email that includes:</p>
    <ul>
      <li>Subject line: <code>[Research Interest] your_subject</code></li>
      <li>Your CV</li>
      <li>A short note on specific topics in my lab that interest you</li>
    </ul>
    <p>
      If there’s a good match, I’ll likely follow up with our interest form and possible next steps.
    </p>

	<hr class="my-4">

    <h4>Current Cornell PhD students</h4>
    <p>
      If you’re already a PhD student at Cornell and are looking for an advisor, please feel free to reach out. Please send an email that includes:
    </p>
    <ul>
      <li>Subject line: <code>[Potential Advising] your_subject</code></li>
      <li>A short description of your background and links to representative work</li>
      <li>Where you see overlap with my lab’s research</li>
    </ul>
    <p>
      Right now, I can only advise students in the CS field. If I think there's a good match, I can reach out to set up a time to chat.
    </p>

	<hr class="my-4">

    <h3>FAQ</h3>

	<hr class="my-4">
    <dl>
      <dt><b>Should I email you about my PhD application?</b></dt>
      <dd>Unfortunately, due to the volume of inquiries, I usually can’t respond individually before the admissions process. If you’re admitted, please reach out — I’d be happy to find a time to chat.</dd>

      <dt><b>Which program should I apply to?</b></dt>
      <dd>I can currently advise students from both the CS PhD and Robotics PhD. If you apply through Robotics, make sure to list CS as your field of study (since that’s my field membership).</dd>

      <dt><b>What background do you look for in undergrad/master's researchers?</b></dt>
      <dd>Hands-on experience goes a long way — things like project teams, embedded systems, ROS, or mechanical prototyping. Coursework in robotics, control, or machine learning also helps. </dd>

      <dt><b>How can I get experience before applying to your lab?</b></dt>
      <dd>Join a student project team, take advanced robotics or controls courses, or build your own small projects. These are the best ways to prepare for research in our group.</dd>

      <dt><b>Are you recruiting postdocs?</b></dt>
      <dd>Not currently. I am planning to consider hiring postdocs once the lab is more established.</dd>
    </dl>
  </div>
</div>
