<div class="row justify-content-center py-2">
	<div class="col-12">
		<h3> Working with us: </h3>

		<p> <b> Prospective PhD students: </b> I'm happy to announce I'm recruiting talented PhD students to join my lab! 
			If you have a strong background in robotics or machine learning, please apply to the 
			<a href="https://www.cs.cornell.edu/phd/admissions"> Cornell CS PhD program </a>
			and mention my name in your application. </p>

		<p> <b> Cornell undergraduates and masters students: </b> If you are interested in research opportunities, 
			please <a href="mailto:pculbertson@cornell.edu"> email me </a> about potential topics you'd be interested in. </p>
			
		<h4> FAQ </h4>
		<p> <b> Should I reach out about my application? </b> Please feel free to email me, but please mention specific reasons
		you'd be interested in my lab or projects you'd like to explore together. If you've been admitted to Cornell,
		please don't hesitate to reach out if you'd like to chat. </p>

		<p> <b> If I want to work with you, should I apply to the <a href="https://gradschool.cornell.edu/academics/fields-of-study/subject/computer-science/robotics-phd-ithaca/">
			Robotics PhD </a> or directly to CS? </b> I can work with students from both application pools -- feel free to apply to the program
			that best suits your interests. If you apply to the Robotics PhD, please list CS as your field of study (since I am only a CS
			field member currently). </p>

		<p><b> Are you recruiting postdocs? </b> I am not planning to recruit postdocs until my lab is somewhat more established. That said,
			if you are interested in a postdoc, please reach out, I'd be happy to chat more. </p> 

	</div>
</div>