<div class="col-auto">
    <p> <a href="mailto:pculbertson@theaiinstitute.com">email</a> </p>
    </div>
    <div class="col-auto">
        <p> <a href="./assets/pdf/culbertson_cv.pdf"> CV</a> </p>
    </div>
    <div class="col-auto">
        <p> <a href="https://twitter.com/pdculbert"> twitter</a> </p>
    </div> 
    <div class="col-auto"> 
        <p> <a  href="https://scholar.google.com/citations?user=8v2kg_0AAAAJ"> google scholar</a> <p>
    </div> 
    <div class="col-auto">
    <p> <a  href="https://github.com/pculbertson"> github</a> </p>
</div>