

<div class="row justify-content-center pt-2">
	<div class="col-12">
		<h4> Social Justice + Broader Impacts: </h4>
		<p> Robotics is an ambiguous technology: it can liberate people from dull or dangerous work, but it can also deepen inequality and control. I believe roboticists should address this tension head-on, not only by advancing technical systems but also by shaping the narratives, institutions, and policies around them. I’m especially interested in collaborations—whether with students or colleagues—on position papers and research initiatives that engage these broader questions alongside the engineering. </p>

		<p> Outside of robotics, my activism focuses mostly on issues around <a href="https://neno-la.org">homelessness and housing,</a> particularly in Los Angeles, where I lived until recently.</p>
	</div>
</div>

<div class="row justify-content-center pt-2">
	<div class="col-12">
		<h4> Hobbies </h4>
		<p> Outside of research, I spend my time baking, backpacking, climbing, and wrangling my <s>raccoon</s> cat Huxley.</p>
	</div>
</div>																																
<div class="row justify-content-center pb-3">
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/baking.jpg" alt="Picture of the gateau invisble + miso caramel from Serious Eats. You should bake this, it rocks."/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/hiking.jpg" alt="Picture of Preston backpacking on North Dome in Yosemite."/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/climbing.jpg" alt="Picture of Preston climbing multipitch in Red Rocks."/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/hux.jpg" alt="Picture of Hux in a sunbeam."/>
		</div>
	</div>
</div> 