<div class="row justify-content-center pt-2">
	<div class="col-12">
		<h4> Social Justice + Broader Impacts: </h4>
		<p> I'm excited to explore the potential social impacts of robots and their application in society. I think it's crucial that <b><i> roboticists </i></b> anticipate <b>negative social outcomes</b> of our work and <b>advocate</b> for a more <b>equitable and just society</b>. I would be interested and excited to brainstorm projects along these lines (especially with social scientists) -- please <a href="mailto:pculbertson@theaiinstitute.com">reach out</a> if you're interested!</p>

		<p> Outside of robotics, my activism focuses mostly on issues around <a href="https://neno-la.org">homelessness and housing</a>, particularly in Los Angeles, where I lived until recently.</p>
	</div>
</div>

<div class="row justify-content-center pt-2">
	<div class="col-12">
		<h4> Hobbies </h4>
		<p> Outside of research, I spend my time baking, backpacking, climbing, and wrangling my <s>raccoon</s> cat <a href="assets/img/hux.jpg"> Huxley.</a> </p>
	</div>
</div>																																
