<div class="row justify-content-center">
	<div class="col-12 col-md-9 py-2s">
		<h3> Broader Impacts and Social Justice </h3>
		
		<p> I'm excited to explore the potential social impacts of robots and their application in society. I think it's crucial that <b><i> roboticists </i></b> anticipate <b>negative social outcomes</b> of our work and <b>advocate</b> for a more <b>equitable and just society</b>. If you have thoughts about social justice + robotics/AI, or are organizing research/events around this topic, feel free to email me (or DM me <a href="https://twitter.com/pdculbert">on Twitter</a>).</p>

		<p> Outside of robotics, my activism focuses mostly on issues around <a href="https://neno-la.org">homelessness and housing</a>, particularly in Los Angeles, where I live currently. I would love to connect with other roboticists / academics who work on these issues, so please reach out if you're interested.</p>
</div>
