<div class="row justify-content-center pt-2">
	<div class="col-12">
		<h4> Social Justice + Broader Impacts: </h4>
		<p> I'm excited to explore the potential social impacts of robots and their application in society. I think it's crucial that <b><i> roboticists </i></b> anticipate <b>negative social outcomes</b> of our work and <b>advocate</b> for a more <b>equitable and just society</b>. I would be interested and excited to brainstorm projects along these lines (especially with social scientists) -- please <a href="mailto:pculbertson@theaiinstitute.com">reach out</a> if you're interested!</p>

		<p> Outside of robotics, my activism focuses mostly on issues around <a href="https://neno-la.org">homelessness and housing</a>, particularly in Los Angeles, where I lived until recently.</p>
	</div>
</div>

<div class="row justify-content-center pt-2">
	<div class="col-12">
		<h4> Hobbies </h4>
		<p> Outside of research, I spend my time baking, backpacking, climbing, and wrangling my <s>raccoon</s> cat Huxley.</p>
	</div>
</div>																																
<div class="row justify-content-center pb-3">
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/baking.jpg" alt="Picture of the gateau invisble + miso caramel from Serious Eats. You should bake this, it rocks."/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/hiking.jpg" alt="Picture of Preston backpacking on North Dome in Yosemite."/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/climbing.jpg" alt="Picture of Preston climbing multipitch in Red Rocks."/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/hux.jpg" alt="Picture of Hux in a sunbeam."/>
		</div>
	</div>
</div> 