<div class="row">
	<div class="col-12 py-2">
		<h4>Teaching:</h4>
	</div>
	<div class="row">
	<div class="col-12">
		<ul>
			<li> <a href="https://www.cs.cornell.edu/courses/cs5750/">CS 5750: Foundations of Robotics</a> </li>
		</ul>
	</div>
</div>
</div>
<div class="row">
	<div class="col-12 py-2">
		<h4>Past Courses:</h4>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<ul>
			<li> AA273: State Estimation and Filtering for Aerospace Systems (TA) </li>
			<li> AA277: Multi-robot Control, Communication, and Sensing (TA) </li>
		</ul>
	</div>
</div>
