<div class="row justify-content-center">
	<div class="col-12 col-md-9 py-2s">
		<h3> Teaching </h3>

		<p>My <b>passion for engineering education</b> began when I taught students on my solar car team skills ranging from machine design to CNC machining. As a grad student, I've had the chance to serve as a <b>teaching assistant</b> in graduate-level classes and <b>mentor a diverse group of talented students</b>. I hope to teach and design courses that <b>blend engineering theory and practice</b> and provide students with a <b>broad, intuitive view</b> of course concepts (including their potential social impacts).</p>

		<strong><h6> Teaching Experience </h6></strong>
		<ul>
			<li> Course Assistant, AA273: State Estimation and Filtering for Aerospace Systems, Stanford University, Spring 2021</li>
			<li> Course Assistant, AA273: State Estimation and Filtering for Aerospace Systems, Stanford University, Spring 2018</li>
			<li> Course Assistant, AA273:  Multi-robot Control, Communication, and Sensing, Stanford University, Winter 2018 </li>
		</ul>
	</div>
</div>
