<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-12 col-md-10 col-lg-8 col-xl-6 my-auto">
          <p class="display-4"> Preston Culbertson </p>
          <h4> PhD Candidate in Mechanical Engineering, <br> Stanford University </h4>
          <h5> <a href="mailto:pculbertson@stanford.edu"> email </a> | <a href="./assets/pdf/culbertson_cv.pdf"> CV </a> | <a href="https://twitter.com/pdculbert"> twitter </a> | <a href="https://scholar.google.com/citations?user=-lUGgAQAAAAJ&hl=en"> google scholar </a> | <a href="https://github.com/pculbertson"> github </a> </h5>

          {% include bio.html %}
        </div>
        <div class="col-8 col-md-5 col-xl-3 my-auto py-4">
          <img class="img-fluid rounded" src="./assets/img/preston_culbertson.jpg" 
            alt="Picture of Preston Culbertson."/>
        </div>

      </div>

      {% include divider.html %}

      {% include research.html %}

      {% include divider.html %}

      {% include teaching.html %}

      {% include divider.html %}

      {% include social_impacts.html %}

      {% include divider.html %}

      {% include footer.html %}

    </div>
  </body>
</html>
