<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-custom.html %}
  </head>
  <body class="gradient">
    <div class>
      <div class="container">
        <div class="row justify-content-center gx-4 pt-4 ">
          <div class="col-4 mt-2 pt-4 header d-flex flex-column">
            <div class="row">
              <div class="col-12">
                <h1 class="inter-banner"> Preston Culbertson </h1>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <h4 class="subhead">Assistant Professor, <a href="https://cs.cornell.edu">Cornell CS</a> (incoming) <br>
                    Research Scientist, <a  href="https://theaiinstitute.com">The AI Institute</a></h4>
              </div>
            </div>
            <div class="row justify-content-left links my-auto">
              <div class="col-auto">
                <p> <a href="mailto:pculbertson@theaiinstitute.com">email</a> </p>
              </div>
              <div class="col-auto">
                  <p> <a href="./assets/pdf/culbertson_cv.pdf"> CV</a> </p>
              </div>
              <div class="col-auto">
                  <p> <a href="https://twitter.com/pdculbert"> twitter</a> </p>
              </div> 
              <div class="col-auto"> 
                  <p> <a  href="https://scholar.google.com/citations?user=8v2kg_0AAAAJ"> google scholar</a> <p>
              </div> 
              <div class="col-auto">
                <p> <a  href="https://github.com/pculbertson"> github</a> </p>
              </div>
            </div>
          </div>
          <div class="col-2 mt-2 pt-2">
            <img class="img-fluid rounded-circle py-auto" style="max-height: 15rem;" src="./assets/img/preston_culbertson.jpg" 
              alt="Picture of Preston Culbertson."/>
          </div>
        </div>
      </div> 
    </div>
    <main class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <hr />
        </div>
      </div>
      <div class="row justify-content-center">
        {{ content }}
      </div>
    </main>
      <!-- {% include divider.html %} -->

      <!-- {% include research.html %} -->

      <!-- {% include divider.html %}

      {% include social_impacts.html %}

      {% include divider.html %}

      {% include teaching.html %}

      {% include divider.html %} -->
      {% include footer.html %}
    
  </body>
</html>
